* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#000;
    /* background:#1a1a1f; */
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .box{
    position: relative;
    width: 20% ;
    height: 75%;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1f;
    transition: 0.5s ;

}
.container .box:hover{
    background: #03e9f4;
    z-index: 1000;
    box-shadow: 0 0 5px #03e9f4 ,
    0 0 25px #03e9f4 ,
    0 0 50px #03e9f4 ,
    0 0 200px #03e9f4 ;

}

.container .box .content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #03e9f4;
    text-align: center;
}

.container .box:hover .content{
color: #111;
}

.container .box:hover .content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    }

.container .box:nth-child(1){
    filter: hue-rotate(180deg);
}
.container .box:nth-child(2){
    filter: hue-rotate(90deg);
}
.container .box:nth-child(3){
    filter: hue-rotate(270deg);
}
footer {
    /* Définit une couleur de fond grise claire pour le pied de page */
    background-color: #f5f5f5;

    /* Ajoute un espace interne de 10 pixels (commenté dans le code original) */
    /* padding: 10px; */

    /* Définit une taille de police réduite (80% de la taille par défaut) */
    font-size: 0.8em;

    /* Définit une couleur de texte gris clair */
    color: #555;

    
    position: fixed;

    /* Aligne le pied de page au bas de la page */
    bottom: 0;

    /* Assure que le pied de page occupe toute la largeur de la page */
    width: 100%;
}